body{
  margin: 0;
  background-color: rgba(190, 186, 186, 0.066);
  
}

.wedCont{
 display: flex;
 flex-direction: column;
 align-items: center;
}
.formSubmit{
 margin: 1.5rem 0;
 display: flex;

}
.cityInput{
   padding: 7px;
   border: 2px solid rgba(189, 184, 184, 0.588);
   border-radius: 5px;
   outline: none;
   margin-right: 8px;
   font-weight: bold;
   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.532);
   
}
.cityInput::placeholder{
   color : rgba(189, 184, 184, 0.588); ;
}
.formSubmit button{
   font-size: 1.1rem;
   padding: 3px 15px;
   border: none;
   background-color: rgb(255, 160, 176);
   color: white;
   border-radius: 5px;
   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.532);
   cursor: pointer;
}
.formSubmit button:hover{
   background-color: rgb(229, 104, 125);
}
.formSubmit button:active{
   border: 2px solid rgb(229, 104, 125);
   background-color: white;
   color:  rgb(229, 104, 125);
}

/*          styling the card */
.card{
   /* background: linear-gradient; */
   color: rgb(255, 244, 244) ;
   margin-top: 15px;
   display: none;
   flex-direction: column;
   align-items: center;
   font-weight: bold;
   box-shadow: 2px 2px 15px  rgba(0, 0, 0, 0.532);
   padding: 2rem 3rem;
   border-radius: 15px;

}
.rainBg{
   background:linear-gradient(180deg, rgba(191, 191, 252, 0.526), rgba(255, 166, 0, 0.325)),
                           url("rainyimage.jpg");
                           background-size:cover ;
                           background-repeat: no-repeat;
                           background-position: center;
}
.drizzleBg{
   background:linear-gradient(180deg,  rgba(191, 191, 252, 0.526), rgba(255, 166, 0, 0.325)),
                           url("drizzleimage.webp");
                           background-size:cover ;
                           background-repeat: no-repeat;
                           background-position: center;
}
.sunnyBg{
   background:linear-gradient(180deg, rgba(191, 191, 252, 0.526), rgba(255, 166, 0, 0.325)),
                           url("sunnyimage.jpg");
                           background-size:cover ;
                           background-repeat: no-repeat;
                           background-position: center;
}
.snowBg{
   background-image:linear-gradient(180deg, rgba(191, 191, 252, 0.526), rgba(255, 166, 0, 0.325)),
                           url("snowimage.jpg");
                           background-size:cover ;
                           background-repeat: no-repeat;
                           background-position: center;
}
.foggyBg{
   background-image:linear-gradient(180deg,  rgba(191, 191, 252, 0.526), rgba(255, 166, 0, 0.325)),
                           url("foggimage.jpg");
                           background-size:cover ;
                           background-repeat: no-repeat;
                           background-position: center;
}
.thunderBg{
   background-image:linear-gradient(180deg,  rgba(191, 191, 252, 0.526), rgba(255, 166, 0, 0.325)),
                           url("thunderimage.jpg");
                           background-size:cover ;
                           background-repeat: no-repeat;
                           background-position: center;
}
.windyBg{
   background-image:linear-gradient(180deg,  rgba(191, 191, 252, 0.526), rgba(255, 166, 0, 0.325)),
                           url("windyimage.jpg");
                           background-size:cover ;
                           background-repeat: no-repeat;
                           background-position: center;
}
.cloudyBg{
   background-image:linear-gradient(180deg, rgba(191, 191, 252, 0.526), rgba(255, 166, 0, 0.325)),
                           url("cloudyimage.jpg");
                           background-size:cover ;
                           background-repeat: no-repeat;
                           background-position: center;
}
.card p{
   margin: 10px;
}
.cityDisply,.tempDisply{
 font-size: 3rem;
 margin: 0;

}
.descDisply{
   font-style: italic;
   font-size: 1.5rem;
}
.img{
   width: 10rem;
}



/* 
 <form action="submit" method="get" class="formSubmit">
      <input class="cityInput" type="text">
      <button type="submit">select city</button>
   </form>
   <div class="card">
      <h1 class="cityDisply">City Name</h1>
      <p class="tempDisply">70c</p>
      <p class="cityDisply">humidity: 20%</p>
      <p class="descDisply">hot sunny</p>
       <div class="imgDisply">
            <img src="sunny.png" alt="">
         </div>
   </div> */